header{
    background-color: whitesmoke;
}
        .cart-no {
            position: absolute;
            height: 24px !important;
            width: 24px !important;
            border-radius: 50%;
            background: blue;
            text-align : center;
            top: -12px;
            right: 32px;
        }