app-modal-component {
    position: relative;
    color : black !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn {
width: 8vw;
height: 4vh;
}
